<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>
  <body>
    <!-- header -->
    <header class="fixed-top bg-white <%- headerDisplay %>">
      <div class="container">
        <nav class="navbar navbar-expand-md navbar-light px-0">
          <button
            class="navbar-toggler border-0 p-0"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="material-icons">
              dehaze
            </span>
          </button>
          <h1>
            <a href="index.html"
              ><img
                src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/9abff06f0952894395796442b2d399e46ad98560/week8/logo-aloha.svg"
                alt=""
            /></a>
          </h1>
          <ul class="navbar-nav ml-md-auto">
            <li class="nav-item active d-lg-block d-none">
              <a href="#">
                <span class="material-icons text-dark">
                  language
                </span>
                <span class="material-icons text-dark">
                  arrow_drop_down
                </span>
              </a>
            </li>
            <li class="nav-item d-lg-block d-none">
              <a class="nav-link text-dark font-weight-600 ml-7 p-0" href="#"
                >Sign up</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-dark font-weight-600 ml-7 p-0"
                href="login.html"
                >Login</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <%- contents %>

    <!-- footer -->
    <footer class="footer <%- footerDisplay %>">
      <div class="container d-lg-flex justify-content-lg-between py-4">
        <div
          class="d-flex flex-column-reverse flex-md-row align-items-center justify-content-md-between"
        >
          <small class="text-info mr-lg-8"
            >© 2020 ALOHA, Inc. All rights reserved.</small
          >
          <ul class="d-flex mb-md-0 mb-3">
            <li class="mr-4">
              <a href="#"><small class="text-info">FAQs</small></a>
            </li>
            <li class="mr-4">
              <a href="#"><small class="text-info">Terms of use</small></a>
            </li>
            <li>
              <a href="#"><small class="text-info">Privacy policy</small></a>
            </li>
          </ul>
        </div>
        <div class="d-none d-lg-block">
          <ul class="d-flex mb-0">
            <li class="mr-4">
              <a href="#" class="d-flex text-info">
                <span class="material-icons mr-1 text-dark">
                  language
                </span>
                English
                <span class="material-icons text-dark">
                  arrow_drop_down
                </span>
              </a>
            </li>
            <li>
              <a href="#" class="d-flex text-info">
                <span class="material-icons text-dark">
                  attach_money
                </span>
                TWD
                <span class="material-icons text-dark">
                  arrow_drop_down
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
    ></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
