.banner-img {
  height: 360px;
}

.choices-img {
  width: 100%;
  height: 164px;
  @include media-breakpoint-up(md) {
    height: 185px;
  }
  @include media-breakpoint-up(lg) {
    height: 175px;
  }
}
.popular-img {
  width: 100%;
  height: 78px;
}
.inspiration-img {
  width: 100%;
  height: 181px;
  @include media-breakpoint-up(md) {
    height: 158px;
  }
  @include media-breakpoint-up(lg) {
    height: 263px;
  }
}
